<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div id="chatbox">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">Chatbox</div>
                  <div class="card-body chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <ng-container *ngFor="let item of history">
                      <!-- Aquí se muestran los mensajes del historial -->
                      <ng-container *ngFor="let conversation of history">
                        <div class="conversation">
                          <div *ngFor="let message of conversation" class="message">
                            <span>
                            <strong>{{ message.owner }}</strong>
                            <img *ngIf="message.response_type === 'image'" src="{{ message.source }}" alt="image" />
                            <span *ngIf="message.response_type === 'text'">{{ message.text }}</span>
                            <span *ngIf="message.response_type === 'option'">{{ message.title }}</span>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                              <button class="btn btn-info" *ngFor="let option of message.options" value="{{option['input.text']}}" (click)="onSubmit(option['input.text'])">{{option['label']}}</button>
                            </div>
                          </span>
                          </div>
                        </div>
                      </ng-container>
                      
                    </ng-container>
                    <hr/>
                    <div class='input-group'>
                      <input type='text' name='message' #query1 class="form-control"
                             placeholder="Escribe para chatear..." 
                             (keyup.enter) = "onSubmit(query1['value']); query1['value'] = ''">

                      <div class='input-group-append'>
                        <button class='btn btn-primary' (click)="onSubmit(query1['value']); query1['value'] = ''">
                          Enviar
                        </button>
                        <button (click)="printHistory()">Print history</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
