<div class="chatbot">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">ChatBot</h5>
      <hr />

      <div id="chatbox" class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let previous of history">
          <div class="row-striped">
            <ng-container *ngFor="let res of previous">
              <div *ngIf="res.response_type === 'text'">
                <app-message [message]="res"></app-message>
              </div>
              <div *ngIf="res.response_type === 'image'">
                <img [src]="res.source" alt="Image">
              </div>
              <!-- Comprobamos si la respuesta siguiente de esta es un option -->
              
              <!-- <div *ngIf="res.response_type === 'option'">
                <app-message [message]="res"></app-message>
                <div *ngFor="let option of res.options">
                  <button class="btn btn-info" (click)="submitMessage(option.value)">{{ option.label }}</button>
                </div>
              </div> -->
            </ng-container>
          </div>
          <hr />
        </div>
      </div>
      

      <div class="form-group">
        <input type="text" name="message" #query1 class="form-control" placeholder="Escribe para chatear..."
          (keyup.enter)="submitMessage(query1.value); query1.value = ''">
        <button class="btn btn-primary" (click)="submitMessage(query1.value); query1.value = ''"
          type="button">Enviar</button>
      </div>
    </div>
  </div>
</div>
